---
import MainLayout from "../layouts/main-layout.astro"
---

<MainLayout
  title="Main"
  description="Main page of Vasjan Çupri a passionate web developer."
>
  <h1>Vasjan Çupri</h1>
  <p>I am the developer you need for you web projects.</p>
</MainLayout>
